.header {
  background-image: url('../../assets/barra.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -1px;
}
.header h1 {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 6rem;
}
.header .containerMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}
.header .containerMenu .containerItemMenu {
  padding: 0 2rem;
  color: #fff;
  font-size: 1.5rem;
}
.prismax {
  background-color: #002853;
}
.download {
  background-color: #003066;
}
.schedule {
  background-color: #043e72;
}
.transmission {
  background-color: #184b7f;
}
.contact {
  background-color: #6385ba;
}
.infoContainer {
  background-image: url('../../assets/prismaxx.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 40vh;
  cursor: pointer;
}
.infoContainer .infoMain {
  width: 80%;
  margin: 0 auto;
}
.infoContainer .infoMain .title {
  color: #e8622e;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1px;
}
.infoContainer .infoMain .subTitle {
  color: #f4c515;
  font-weight: 500;
  font-size: 3rem;
  margin-top: 1px;
}
.infoContainer .infoMain .detail {
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
}
.infoContainer .infoMain  .underline {
  text-decoration: underline;
}
.infoContainer img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .header .containerMenu {
    flex-direction: column;
  }
  .infoContainer {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 40vh;
  }
}