.imageContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/hero.jpeg");
}
.imageContainer .imageHero {
  display: none;
}
.imageContainer img {
  margin-top: -20vh;
  contain: content;
}
.imageContainer .containerAction {
  display: flex;
  margin-top: 80vh;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  z-index: 1;
}
.imageContainer .containerAction .buttonRegister {
  color: #e88622;
  background-color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}
.imageContainer .containerAction .buttonAccess {
  color: #fff;
  background-color: #e88622;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}
a {
  text-decoration: none;
}
/* .form .MuiFormControl-root,  */
.MuiInputBase-root {
  color: black;
}

@media only screen and (max-width: 768px) {
  .imageContainer {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: none;
    background-color: #074bd1;
  }
  .imageContainer .imageHero {
    display: block;
    width: 100%;
  }
  .imageContainer .containerAction {
    margin: 2rem;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .imageContainer img {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 400px) {
  
  .imageContainer .containerAction {
    display: grid;
    row-gap: 1rem;
    width: 40%;
  }
  .imageContainer .containerAction .buttonRegister {
    width: 80%;
    font-size: 1rem;
    padding: 0.5rem 2rem;
  }
  .imageContainer .containerAction .buttonAccess {
    width: 80%;
    font-size: 1rem;
    padding: 0.5rem 2rem;
  }
}