.contactContainer {
  width: 100%;
  height: 800px;
  background-image: url("../../assets/contact.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactContainer .title {
  font-size: 3rem;
  margin-top: 10rem;
  color: #fff;
  font-family: Roboto;
  font-weight: bolder;
}
.contactContainer .form {
  width: 60%;
  display: grid;
  row-gap: 1rem;
}
.form .MuiFormControl-root,
.MuiInputBase-root {
  color: #edefee;
}
.form .MuiFormLabel-root {
  color: #fff;
}
.form button {
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 4rem;
  margin: 1rem auto;
  font-family: Roboto;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .form button {
    margin: 1rem auto 9rem auto;
  }
  .contactContainer .form {
    width: 90%;
  }
}
