.modelContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/model3d.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modelContainer .title {
  font-weight: bold;
  font-size: 4rem;
  color: #fff;
  text-align: center;
  font-family: Roboto;
}
.videoContainer {
  margin: 15vh 0;
}
